*{
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#myCanvasContainer{
    text-align: center;
}

.article-text-area{
    height: 300px;
}

.js-datepicker{
    width: 35%;
}

label.error{
    color: #dc3545;
    font-size: 80%;
}

.error .my-error{
    background: #dc3545;
    color: #FFFFFF;
    padding: 2px;
    border-radius: 2px;
}

#my-tags-column{
    position: relative;
}

#tags-choos{
    background: #FFFFFF;
    position: absolute;
    list-style-type: none;
    margin-top: -10px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    max-height: 200px;
    max-width: 100%;
    transition: height 0.9s;
    overflow: auto;
    font-size: 12px;
}

#tags-choos ul li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 3px;
    background: #e5e5e5;
}

#tags-choos ul{
    margin: 0;
    padding-left: 0;
}

#tags-choos ul li:hover{
    background: #c4c4c4;
}

.close{
    height: 0;
}

.main-nav .navbar, .main-nav .navbar .bg-dark{
    margin: 30px 0;
    border-radius: 5px;
    background: #6f27bf;
}

.article{
     margin: 20px 0;
 }

.article .content{
    font-size: 16px;
    margin-top: 20px;
}

.article a{
    float: right;
}

.article .card{
    border-bottom: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.article .more{
    border: none;
}

.tag-show{
    font-size: 16px;
    color: #9a9a9a;
}

.tag-show span {
    margin: 0 15px;
}
.block-navigation{
    margin: 50px 0;
}