<div class="article">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h3>{{ article.subject }}</h3>
                <footer class="tag-show">
                    {{ article.date|date("d F Y") }} <span> / </span>
                    {% for key, tag in article.tags %}
                        {% if article.tags|length != key + 1 %}
                            {{ tag.tag }} ,
                        {% else %}
                            {{ tag.tag }}
                        {% endif %}
                    {% endfor %}
                </footer>
                <div class="content">
                    {{ article.text | slice(0,300) | raw  }} ....
                </div>
                <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-outline-info btn-sm">Читать далее...</a>
            </blockquote>
        </div>
    </div>
</div>
