{% extends 'container_fluid.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/load_article.js') }}"></script>
{% endblock %}
{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="alert alert-secondary" role="alert">
        <h4>{{ title }}</h4>
    </div>
    {% if articles %}
        <div id="articles">
            {% for article in articles %}
                <div class="article">
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <h3>{{ article.subject }}</h3>
                                <footer class="tag-show">
                                    {{ article.date|date("d F Y") }} <span> / </span>
                                    {% for key, tag in article.tags %}
                                        {% if article.tags|length != key + 1 %}
                                            {{ tag.tag }} ,
                                        {% else %}
                                            {{ tag.tag }}
                                        {% endif %}
                                    {% endfor %}
                                </footer>
                                <div class="content">
                                    {{ article.text | slice(0, 400) | raw  }} ....
                                </div>
                                <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-outline-info btn-sm">Читать далее...</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if data_from == constant('App\\Controller\\ArticleController::ALL_DATA') %}
            <div class="block-navigation">
                <div class="page-btn">
                    <button class="btn btn-outline-success btn-lg btn-block" id="page_load_more" data-page="1">Load more</button>
                </div>
            </div>
        {% endif %}
    {% else %}
        <h1>No articles</h1>
    {% endif %}
{% endblock %}