{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bootstrap-4.1.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap-4.1.0/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/jquery.tagcanvas.min.js') }}"></script>
     <script type="text/javascript">
        $(document).ready(function() {
            if(!$('#myCanvas').tagcanvas({
                textColour: '#ff0000',
                outlineColour: '#ff00ff',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05,
                wheelZoom: false
            },'tags')) {
                $('#myCanvasContainer').hide();
            }
        });
        </script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
{% endblock %}
{% block body %}
    {% block navbar %}
        <div class="container">
            <div class="main-nav">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="{{ path('index') }}">SocialShopWave</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Статьи <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('create_article') }}">Добавление новой статьи</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    {% endblock %}
    <div class="container">
        {% block container %}
            <div class="row">
                <div class="col-lg-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-lg-4">
                    {% block tags %}
                        <div class="alert alert-secondary" role="alert">
                            <h4>Теги</h4>
                        </div>
                        <div id="myCanvasContainer">
                            <canvas width="300" height="300" id="myCanvas">
                                <p>Anything in here will be replaced on browsers that support the canvas element</p>
                            </canvas>
                        </div>
                        <div id="tags">
                            {{ render(controller('App\\Controller\\ArticleController::recentArticleTags')) }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}