{% extends 'container_fluid.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/createArticle.js') }}"></script>
    <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>
{% endblock %}

    {% block content %}
        <div class="alert alert-secondary" role="alert">
            <h4>Добавить новую статью</h4>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.date) }}
        <div id="my-tags-column">
            {{ form_row(form.tagsAsString) }}
            <div id="tags-choos" class="close">
                <ul class="list-inline">
                    {% for tag in tags %}
                        <li class="list-inline-item">{{ tag.tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {{ form_row(form.text) }}
        {{ form_end(form) }}
    {% endblock %}

{% block javascripts %}
    <script>
        tinymce.init({
            selector: '#article_text',
            height: 400,
            menubar: false,
            plugins: [
                'advlist autolink lists link charmap print preview  textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime table contextmenu paste code wordcount'
            ],
            toolbar: 'undo redo |  formatselect | ' +
                     'bold italic textcolor | alignleft aligncenter alignright alignjustify | ' +
                     'preview | link | code | bullist numlist'
        });
    </script>
{% endblock %}
