{% extends 'container_fluid.html.twig' %}
{% block content %}
<div class="article">
        <div class="card more">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p><b>{{ article.subject }}</b></p>
                    <footer class="tag-show">
                        {{ article.date|date("d F Y") }} <span> / </span>
                        {% for key, tag in article.tags %}
                            {% if article.tags|length != key + 1 %}
                                {{ tag.tag }},
                            {% else %}
                                {{ tag.tag }}
                            {% endif %}
                        {% endfor %}
                    </footer>
                    <div class="content">
                        {{ article.text | raw }}
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}

